:root {
  --brand: #3e5c9a;
  --blank: #fffdff;
  --rounded: 3px;
  --section-space: 100px;
}
body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  font-size: 18px;
  line-height: 120px;
  color: var(--blank);
}

a {
  text-decoration: none;
  cursor: pointer;
}

.container {
  width: 1366;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.header {
  background-color: var(--brand);
  display: flex;
  justify-content: space-between;
}
.img-content {
  width: 250px;
}

.form {
  display: flex;
  margin: 20px;
  column-gap: 15px;
  color: var(--blank);
  font-weight: bold;
}
input {
  display: block;
  border-radius: 1px;
  border: transparent;
  height: 24px;
}

input[type="submit"] {
  display: flex;
  margin: 20px;
}
