:root {
  --brand: #3e5c9a;
  --blank: #fffdff;
  --rounded: 3px;
  --section-space: 100px;
}
body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  font-size: 18px;
  line-height: 120px;
  color: var(--blank);
}

a {
  text-decoration: none;
  cursor: pointer;
}

.container {
  width: 1366;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.header {
  background-color: var(--brand);
  display: flex;
  justify-content: space-between;
}
.img-content {
  width: 250px;
}
.formulario {
  margin: 25px;
}

input[type="email"],
input[type="password"] {
  padding: 5px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
button[type="submit"] {
  padding: 5px 20px;
}
